.home-welcome{
    display: flex;
    text-align: center;
    overflow: hidden;
    background-color: darkslategrey;
    color: lightgray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.welcome-message{
    font-size: 70px;
    padding-top: 109px;
    letter-spacing: normal;
    line-height: normal;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.container{
    padding-top: 20px;
}
.course-card{
    padding-top: 20px;
}