.home-welcome{
    display: flex;
    text-align: center;
}
.welcome-message{
    font-size: 70px;
    padding-top: 109px;
    letter-spacing: normal;
    line-height: normal;
}
.container{
    padding-top: 20px;
}
.course-card{
    padding-top: 20px;
}