<div class="page-header">
    My courses
</div>
<div class="container courses-container">
    <div class="row">
        <div class="col-md-4 course-card" *ngFor="let course of courses">
            <mat-card [routerLink]="['course',course._id]">
                <mat-card-header>
                    <mat-card-title>{{course.title}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{course.image}}">
                <mat-card-content>
                    <p>
                        {{course.topic}}
                    </p>
                    <mat-chip-list>
                        <mat-chip> {{course.category}}</mat-chip>
                        <mat-chip> {{course.level}}</mat-chip>
                    </mat-chip-list>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-flat-button color="primary" [routerLink]="['course',course._id]">Continue</a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>