/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.footer{
    padding: 1.5rem 0;
    color: #999;
    background-color: #f9f9f9;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;    
    height: 80px;                               
}
.home-welcome{
    display: flex;
    text-align: center;
    overflow: hidden;
    background-color: darkslategrey;
    color: lightgray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.welcome-message{
    font-size: 70px;
    padding-top: 109px;
    letter-spacing: normal;
    line-height: normal;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.container{
    padding-top: 20px;
}
.course-card{
    padding-top: 20px;
}
