<div class="course-info">   
    <div class="col-md-4">
        <mat-card>
            <mat-card-header>
              <!-- <mat-card-title>{{course.title}}</mat-card-title> -->
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
             <!-- <img mat-card-image src="{{course.image}}">  -->
            <!-- <mat-card-actions>
              <button mat-button (click)="enroll()">Enroll</button>
            </mat-card-actions> -->
          </mat-card>
</div>
<div class="container">
    <div class="col-md-4">
      <!-- {{course.descriprion}} -->
        <p>
          This course is free you can signup and enroll for the course. 
        </p>
    </div>
</div>